@import "tailwindcss";

@font-face {
  font-family: SundayMasthead;
  src: url("/public/fonts/SundayMasthead-Regular.otf") format("opentype");
}

@font-face {
  font-family: Expose;
  src: url("/public/fonts/Expose-Variable.ttf");
}

@theme {
  --color-primary: #f0f8fa;
  --color-secondary: #0caff7;
  --color-secondary-light: #91dbfc;
  --color-secondary-dark: #04233b;
  --color-gray: #d9d9d9;

  --font-expose: Expose;
  --font-sunday-masthead: SundayMasthead;
}

button {
  @apply cursor-pointer m-0 p-0;
}

body {
  @apply m-0  min-h-screen;
  background-image: url(bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: SundayMasthead;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
